<!DOCTYPE html>
<html ng-app='myApp'>
<head>
    <title>Home</title>


    <!--<div class='page-header'>
        <div class='btn-toolbar pull-right'>
            <div class='btn-group'>
                <a href="#!/Search" class="btn btn-danger" >Search</a>
                <a href="#!/login" class="btn btn-danger" >Log out</a>
            </div>
        </div>
        <h2>Movie Flix</h2>-->

      <!--  <div class="container">
            <div style="text-align:center;padding-bottom: 40px ;margin-top: -4%;margin-right: 25%;">
                <a href="#!/Search" class="button" >Search</a>
            </div>
            <div  style="text-align:right;padding-bottom: 40px ;margin-top: -4%;">
                <a href="#!/login" class="button" >Log out</a>
            </div>
        </div>-->
    </div>


</head>
<body  >
<div class="page-bg">
</div>

<form  data-ng-controller="movieController as mov">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Movie Flix</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#!/home">Home</a></li>
                <li><a href="#!/Search">Search</a></li>


            </ul>
            <ul class="nav navbar-nav navbar-right">

                <li><a href="#!/login"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            </ul>
        </div>
    </nav>
    <table>
        <tbody>

        <h2 >
            Search
            </h2>
        <slick ng-if="mov.dataLoaded" init-onload="false" data="mov.dataLoaded" slides-to-show="5">

            <div ng-repeat="item in mov.movie|filter: search">
        <span>


            <a ng-href="#!/movieDetail/{{item.movieId}}"  alt="{{ item.title}}" ><img ng-src="{{ item.poster }}" class="at" /><span>{{item.title}}</span></a>

        </span>

            </div>
        </slick>

<h2>
    Action
</h2>
        <slick ng-if="mov.dataLoaded" init-onload="false" data="mov.dataLoaded" slides-to-show="5">
            <div ng-repeat="item in mov.movie|filter : 'Action'">
        <span>
            <a ng-href="#!/movieDetail/{{item.movieId}}"  alt="{{ item.title}}" ><img ng-src="{{ item.poster }}" /><span>{{item.title}}</span></a>

        </span>

            </div>
        </slick>
<h2>
   Drama
</h2>
<slick ng-if="mov.dataLoaded" init-onload="false" data="mov.dataLoaded" slides-to-show="5">
    <div ng-repeat="item in mov.movie |filter : 'Drama'">
        <span>
        <a ng-href="#!/movieDetail/{{item.movieId}}"  alt="{{ item.title}}" class="at"><img ng-src="{{ item.poster }}" /><span>{{item.title}}</span></a>
 </span>

    </div>
</slick>
<h2>
Sci-Fi
</h2>
<slick ng-if="mov.dataLoaded" init-onload="false" data="mov.dataLoaded" slides-to-show="5">
    <div ng-repeat="item in mov.movie |filter : 'Sci-Fi'">
        <span>
           <a ng-href="#!/movieDetail/{{item.movieId}}"  alt="{{ item.title}}" class="at" ><img ng-src="{{ item.poster }}" /><span>{{item.title}}</span></a>

        </span>

    </div>
</slick>
<h2>
    Advanture
</h2>
<slick ng-if="mov.dataLoaded" init-onload="false" data="mov.dataLoaded" slides-to-show="5">
    <div ng-repeat="item in mov.movie |filter : 'Adventure'">
        <span>
           <a ng-href="#!/movieDetail/{{item.movieId}}"  alt="{{ item.title}}" class="at"><img ng-src="{{ item.poster }}" /><span>{{item.title}}</span></a>

        </span>

    </div>
</slick>


        </tbody>

    </table>


</form>

</body>
</html>
