<html  ng-app='myApp'>
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body    >
<div data-ng-controller="rateController as sc">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Movie Flix</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="#!/home">Home</a></li>
                <li><a href="#!/Search">Search</a></li>
                <li><a href="#!/add" ng-show="sc.user">AddMovie</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">

                <li><a href="#!/login" ng-click="sc.logout()"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            </ul>
        </div>
    </nav>


    <div class="card card-inverse" >
        <div class="container">
            <div class="row row-centered">
                <div class="panel panel-default">

                    <div class="cent"><img class="card-img" style="float-displace: 1ch" src="{{sc.movie.poster}}" alt="Card image">
                        <div class="card-img-overlay">
                            <h4 class="card-title" style="font-weight: bold">{{sc.movie.title}}</h4>
                            <p class="card-text">{{sc.movie.plot}}</p>
                            <p class="card-text"> <label >Awards:</label>{{sc.movie.awards}}</p>
                             <p class="card-text"> <div ng-repeat="mov in sc.movie.genre"><label >Genre:</label>{{mov.genre}}</div></div>


                        <p class="card-text">   <label >Meta Score:</label >{{sc.movie.metaScore}}</p>
                        <p class="card-text">    <label >Imdb Rating:</label><input id="input-3" name="input-3" value="{{sc.movie.imdbRating}}" class="rating-loading"></p>
                        <p class="card-text">     <label >Imdb Votes:</label> {{sc.movie.imdbVotes}}</p>
                        <p class="card-text">Rate:<span uib-rating ng-model="sc.data.rate" max="sc.max" read-only="isReadonly" on-hover="sc.hoveringOver(value)" on-leave="overStar = null" titles="['one','two','three']" aria-labelledby="default-rating"></span>
                            <span class="label" ng-class="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}" ng-show="overStar && !isReadonly">{{sc.percent}}%</span>

                        </p>
                        <p class="card-text"><div class="btn-group"><a a href="#!/home" ng-click="sc.submit()" class="btn btn-danger navbar-btn">Submit</a></div></p>
                    </div>


                </div>

            </div>

        </div></div>
</div>

</body>
</html