<!DOCTYPE html>
<html ng-app='myApp'>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>


</head>

<body >
<div><ng-view></ng-view>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>



<script src='../js/controllers/loginController.js' type="text/javascript"></script>
<script src="../js/services/restServices.js"/>
<script src='../js/services/routingConfig.js' ></script>
<script src='../js/controllers/movieController.js' type="text/javascript"></script>
<script src="../js/services/service.js"/>
<script src='../js/controllers/regiController.js' type="text/javascript"></script>
<script src="../js/controllers/showController.js"></script>

</body>
</html>