<!DOCTYPE html>
<html ng-app='myApp'>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <link href="../style/style.css" type = "text/css" rel="stylesheet"/>
    <div class="h">    Movie Flix
    </div>


</head>
<body >
<div class="page-bg"></div>
<div  data-ng-controller="regiController">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-7">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span class="glyphicon glyphicon-lock"></span> Registration</div>
                    <div class="panel-body">
                        <form class="form-horizontal" role="form" data-ng-submit="submit()" >
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-3 control-label">
                                   Username</label>
                                <div class="col-sm-9">
                                    <input  data-ng-model="user.userName" class="form-control" id="inputEmail3" placeholder="Username" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-3 control-label">
                                    Email</label>
                                <div class="col-sm-9">
                                    <input type="email"  data-ng-model="user.emailId" class="form-control" id="inputEmail3" placeholder="Username" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-3 control-label">
                                    Password</label>
                                <div class="col-sm-9">
                                    <input type="password" data-ng-model="user.passWord" class="form-control" id="inputPassword3" placeholder="Password" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-9">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"/>
                                            Remember me
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group last">
                                <div class="col-sm-offset-3 col-sm-9">
                                    <input type="submit"  class="btn btn-success btn-sm">
                                    </input>
                                    <button type="reset" class="btn btn-default btn-sm">
                                        Reset</button>
                                </div>
                            </div>
                        </form>
                    </div>


            </div>
        </div>
    </div>
</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
<script src="../js/services/restServices.js"/>
<script src="../js/routingConfig.js"></script>
<script src="../js/controllers/regiController.js"></script>

</body>
</html>