<!DOCTYPE html>
<html ng-app='myApp'>
<head>
    <title>Home</title>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../style/style.css">




</head>
<body  >
<div class="page-bg">
</div>
<div class="h">
    Movie Flix
    <div class="container" style="text-align:right;padding-bottom: 40px ;margin-top: -4%;">

        <a href="#/login" class="button" >Log out</a>
    </div>

</div>


<form  data-ng-controller="movieController">
    <table>


        <tbody>
<div ng-repeat="user in users">
    <a ng-href="#/movieDetail/{{user.movieId}}" class="imgHo " style="background-image:url('{{user.poster}}')";></a>



</div>



        </tbody>

    </table>


</form>



<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.js"></script>
<script
        src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
<script src="../js/routingConfig.js"/>
<script src="../js/movieController.js"/>
</body>
</html>
